<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541666739411-ge24lesih7u09hvl22ib2getidc1pdid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541666739411-ge24lesih7u09hvl22ib2getidc1pdid</string>
	<key>API_KEY</key>
	<string>AIzaSyBXDhPgWubK35Ik9wLKOlXVldqrUDPZvdo</string>
	<key>GCM_SENDER_ID</key>
	<string>541666739411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calendarScheduler</string>
	<key>PROJECT_ID</key>
	<string>cal-scheduler-b17bb</string>
	<key>STORAGE_BUCKET</key>
	<string>cal-scheduler-b17bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541666739411:ios:67c374575ef4aaada90026</string>
</dict>
</plist>